<%= render @restaurant %>

<div class="container">
  <div class="row">
    <%= render @reviews %>
  </div>
</div>

<%= simple_form_for [ @restaurant, @review ] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit "Submit review", class: "btn btn-primary my-3" %>
<% end %>

<div class="my-3">
  <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn btn-secondary' %>
  <%= link_to 'Back', restaurants_path, class: 'btn btn-secondary' %>
</div>
