<%= render @restaurant %>

<div class="row">
  <%= render @reviews %>
</div>

<div class="m-3">
  <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn btn-secondary' %>
  <%= link_to 'Back', restaurants_path, class: 'btn btn-secondary' %>
  <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %>
</div>

<%= simple_form_for @review do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit "Submit review", class: "btn btn-primary my-3" %>
<% end %>
